<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
</head>
<body>
<table>
    <thead><th>Id</th><th>Marka</th><th>TypeCoffee</th><th>Price</th><th>Volume</th></thead>
    {{range .}}
    <tr>
        <td>{{.Id}}</td>
        <td>{{.Marka}}</td>
        <td>{{.TypeCoffee}}</td>
        <td>{{.Price}}</td>
        <td>{{.Volume}}</td>
    </tr>
    {{end}}
</table>
</body>
</html>
